html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px;
  font-size: 16px;
  font-family: 'Roboto' !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto' !important;
  font-weight: bold;
}

ul, li {
  list-style-type: none;
}

a, a:visited {
  color: #a00;
  text-decoration: none;
}

a:hover {
  color: #a00;
  text-decoration: none;
  border-bottom: 1px dotted #222;
}

header a:hover {
  border-bottom: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 10px 0 10px;
  background: #222;
  box-shadow: 1px 1px 3px rgba(25, 25, 25, 50);
  border: none;
}

.banner {
  margin-top: -30px; 
  padding: 40px;
  width:100%;
  height:550px;
  background: url(/img/casey.jpg) no-repeat;
  background-size:100% auto;
  background-position:center;
}

.banner h1 {
  text-align: center;
  font-size: 250%;
  color: white;
  text-shadow: 1px 1px 10px #222;
}

.banner .jumbotron {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0px;
  background: none;
  color: white;
  text-shadow: 1px 1px 10px #111;
  text-align: center;
}

.banner a.btn, 
.banner a:hover.btn {
  color: white;
  border: none;
  padding: 15px 20px;
}

.footer {
  margin-top: 50px;
}

.footer .info {
  float: left;
}

.footer .social {
  float: right;
}

.meta {
  color: #999;
}

.monospace {
  font-family: 'Consolas' !important;
}

@media (max-width: 770px) {
  .banner {
    height: 380px;
  }
  .banner h1 {
    font-size: 200%;
  }
}

@media (max-width: 550px) {
  .banner {
    height: 300px;
    padding: 0px;
  }

  .banner h1 {
    font-size: 150%;
  }
}