$navbarColor: #1F2324;
$linkColor: #a00;
$backgroundColor: #fff;
$btnColor: #428bca;
$btnBorderColor: #357ebd;
$btnHoverColor: #3276b1;

@import "compass";
@import "bootstrap";

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 65px;
  font-size: 16px;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  background: $backgroundColor;
}

small {
  line-height: 1em;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.content {
  /* display: none; */
}

h1, h2, h3, h4 {
  font-family: 'Roboto' !important;
  font-weight: bold;
}

h4 { margin-top: 15px; }

ul, li {
  list-style-type: none;
  padding-left: 0px;
}

li {
  line-height: 1.4em;
  padding-bottom: 8px;
}

.project {
  li { list-style-type: disc; }
  ul { padding-left: 20px; }
}

.post {
  li { list-style-type: disc; }
  ul { padding-left: 20px; }
}

a, a:visited {
  color: $linkColor;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
     -moz-transition: color 0.2s ease-in-out;
       -o-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
}

a:hover {
  color: $linkColor;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

header a:hover {
  border-bottom: none;
}

img { max-width: 100%; }

.btn-primary {
  background-color: $btnColor;
  border-color: $btnBorderColor;
  color: white;
  font-weight: bold;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
     -moz-transition: background-color 0.5s, border-color 0.5s;
       -o-transition: background-color 0.5s, border-color 0.5s;
          transition: background-color 0.5s, border-color 0.5s;
  &:hover {
    background-color: $btnHoverColor;
  }
}

.navbar {
  padding: 8px 0;
  background: $navbarColor;
  border: none;
}

.navbar-inverse {
  a.navbar-brand {
    color: #eee;
    padding-right: 20px;
    font-size: 20px;
    margin-left: 8%;
  }
  .nav .active > a {
    border-bottom: 2px solid $linkColor;
    background: none;
    box-shadow: none;
  }
  .nav .active > a:hover { background: none; }
}

.banner {
  padding: 40px;
  width: 100%;
  height: 515px;
  background: url(/assets/images/casey.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;

  h1 {
    text-align: center;
    font-size: 280%;
    color: white;
    text-shadow: 1px 1px 10px #222;
    margin-bottom: 40px;
  }

  .jumbotron {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px;
    background: none;
    color: white;
    text-shadow: 1px 1px 10px #111;
    text-align: center;
  }

  a.btn {
    padding: 15px 20px;
    color: white;
    border-bottom: none;
  }
}

#github-activity {
  width: 700px;
  height: 600px;
  margin-bottom: 20px;
}

#contact-name, #contact-email, #contact-message {
  padding: 10px;
  font-size: 24px;
  line-height: 36px;
  border-radius: 10px;
  width: 70%;
  border: 3px solid #ddd;
  outline: none;
  margin-bottom: 10px;
  background: #f6f6f6;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
     -moz-transition: background-color 0.5s, -moz-box-shadow 0.5s;
       -o-transition: background-color 0.5s, -o-box-shadow 0.5s;
          transition: background-color 0.5s, box-shadow 0.5s;
  &:focus {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #999;
       -moz-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#999999')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#999999');
  }
}

#contact-message {
  height: 200px;
  resize: none;
}

#contact-submit {
  outline: none;
}

.success, .warning, .error {
  width: 70%;
}

.alert {
  border-radius: 10px;
  border: none;
}

.footer {
  height: 60px;
  text-align: right;
  padding-top: 20px;

  a { color: $linkColor; }

  .icons a {
    font-size: 22px;
    color: $navbarColor;
    
    &:hover {
      color: $linkColor;
      border: none;
    }
  }
}

blockquote {
  p {font-size: 90%;}
  color: #999;
}
.meta { color: #888; }

.monospace { font-family: 'Consolas' !important; -webkit-font-smoothing: subpixel-antialiased; }

.justified { text-align: justify; }

@media (max-width: 767px) {
  .banner {
    height: 360px;

    h1 { font-size: 200%; }
  }

  .navbar-inverse {
    a.navbar-brand { margin-left: 0; }
    .nav .active > a {
      border-bottom: none;
      border-left: 3px solid $linkColor;
      margin-left: 6px;
    }
    .nav a { margin-left: 9px; }
  }
}

@media (max-width: 550px) {
  .banner {
    height: 270px;
    padding: 0px;
    h1 { font-size: 150%; }
    a.btn { padding: 10px 15px;}
  }
  #contact-name, #contact-email, #contact-message, .contact-alert {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .banner {
    height: 240px;
    padding: 0px;
    h1 {
      font-size: 120%;
      margin-bottom: 20px;
    }
    a.btn { padding: 6px 10px; }
    .jumbotron { padding: 10px; }
  }
  .justified { text-align: left; }
}