<!DOCTYPE html>
<html>
    <%= partial 'layouts/shared/head' %>
    <body>

    <div id="wrap">
      <%= partial 'layouts/shared/navigation' %>

      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= partial 'layouts/shared/footer' %>
    </body>
</html>
