<!DOCTYPE html>
<html>
    <%= partial 'layouts/shared/head' %>
    <body>

    <div id="wrap">
      <%= partial 'layouts/shared/navigation' %>

      <div class="content">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-8">
              <div class="project justified">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= partial 'layouts/shared/footer' %>

    </body>
</html>
