<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-sm"></div>
    <div class="col-md-6">
      <div class="footer">
        <p class="pull-left icons">
          <a target="_blank" href="mailto:caseyscarborough@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
          <a target="_blank" href="https://github.com/caseyscarborough/"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
          <a target="_blank" href="https://bitbucket.org/caseyscarborough/"><i class="fa fa-bitbucket"></i></a>&nbsp;&nbsp;
          <a target="_blank" href="https://linkedin.com/in/caseyscarborough"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
          <a target="_blank" href="https://plus.google.com/103526747321763836028?rel=author"><i class="fa fa-google-plus"></i></a>
        </p>
        <p class="pull-right">
          <small class="meta">Contribute to this site on <a target="_blank" href="https://github.com/caseyscarborough/caseyscarborough.com">GitHub</a>.</small><br>
        </p>
      </div>
    </div>
  </div>
</div>