<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %> &middot; caseyscarborough.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/png">

    <%= stylesheet_link_tag 'app' %>
    <%= javascript_include_tag 'app' %>
</head>