html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 65px;
  font-size: 16px;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


h1, h2, h3, h4 {
  font-family: 'Roboto' !important;
  font-weight: bold;
}

h4 {
  margin-top: 15px;
}

ul, li {
  list-style-type: none;
  padding-left: 0px;
}

.project li {
  list-style-type: disc;
}

.project ul {
  padding-left: 20px;
}

li {
  line-height: 1.8em;
}

a, a:visited {
  color: #a00;
  text-decoration: none;
}

a:hover {
  color: #a00;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

header a:hover {
  border-bottom: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 8px 0;
  background: #1F2324;
  border: none;
}

.navbar-inverse a.navbar-brand {
  color: #eee;
  padding-right: 20px;
  font-size: 20px;
  margin-left: 8%;
}

.navbar-inverse .nav .active > a {
  border-bottom: 2px solid #a00;
  background: none;
  box-shadow: none;
}

.navbar-inverse .nav .active > a:hover {
  background: none;
}

.banner {
  padding: 40px;
  width: 100%;
  height: 515px;
  background: url(/assets/img/casey.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.banner h1 {
  text-align: center;
  font-size: 280%;
  color: white;
  text-shadow: 1px 1px 10px #222;
  margin-bottom: 40px;
}

.banner .jumbotron {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0px;
  background: none;
  color: white;
  text-shadow: 1px 1px 10px #111;
  text-align: center;
}

.banner a.btn {
  padding: 15px 20px;
  color: white;
  border-bottom: none;
}

.github-activity {
  border: 1px solid #ddd;
}

.footer {
  height: 60px;
  text-align: right;
  padding-top: 20px;
}

.footer .icons a {
  font-size: 22px;
  color: #444;
}

.footer .icons a:hover {
  color: #a00;
  border: none;
}

.footer a {
  color: #a00;
}

.meta {
  color: #999;
}

.monospace {
  font-family: 'Consolas' !important;
}

.justified {
  text-align: justify;
}

@media (max-width: 767px) {
  .banner {
    height: 360px;
  }
  .banner h1 {
    font-size: 200%;
  }
  .navbar-inverse a.navbar-brand {
    margin-left: 0;
  }
  .navbar-inverse .nav .active > a {
    border-bottom: none;
    border-left: 3px solid #a00;
    margin-left: 6px;
  }
  .navbar-inverse .nav a {
    margin-left: 9px;
  }
}

@media (max-width: 550px) {
  .banner {
    height: 270px;
    padding: 0px;
  }
  .banner h1 {
    font-size: 150%;
  }
  .banner a.btn {
    padding: 10px 15px;
  }
}

@media (max-width: 410px) {
  .banner {
    height: 240px;
    padding: 0px;
  }
  .banner h1 {
    font-size: 120%;
    margin-bottom: 20px;
  }
  .banner a.btn {
    padding: 6px 10px;
  }
  .banner .jumbotron {
    padding: 10px;
  }
}