html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px;
  font-size: 16px;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
}

h1, h2, h3, h4 {
  font-family: 'Roboto' !important;
  font-weight: bold;
}

ul, li {
  list-style-type: none;
  padding-left: 0px;
}

.project li {
  list-style-type: disc;
}

.project ul {
  padding-left: 20px;
}

li {
  line-height: 1.8em;
}

a, a:visited {
  color: #a00;
  text-decoration: none;
}

a:hover {
  color: #a00;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

header a:hover {
  border-bottom: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 8px 0;
  background: #222;
  border: none;
}

.navbar-inverse a.navbar-brand {
  color: #eee;
  padding-right: 20px;
  font-size: 20px;
  margin-left: 8%;
}

.navbar-inverse .nav .active > a {
  border-bottom: 2px solid #a00;
  background: none;
  box-shadow: none;
}

.navbar-inverse .nav .active > a:hover {
  background: none;
}

.banner {
  margin-top: -30px; 
  padding: 40px;
  width:100%;
  height:550px;
  background: url(/assets/img/casey.png) no-repeat;
  background-size:100% auto;
  background-position:center;
  box-shadow: 1px 1px 4px #999;
}

.banner h1 {
  text-align: center;
  font-size: 280%;
  color: white;
  text-shadow: 1px 1px 10px #222;
}

.banner .jumbotron {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0px;
  background: none;
  color: white;
  text-shadow: 1px 1px 10px #111;
  text-align: center;
}

.banner a.btn {
  padding: 15px 20px;
  color: white;
  border-bottom: none;
}

.github-activity {
  border: 1px solid #ddd;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.footer .info {
  float: left;
}

.footer .social {
  float: right;
}

.meta {
  color: #999;
}

.monospace {
  font-family: 'Consolas' !important;
}

.justified {
  text-align: justify;
}

@media (max-width: 770px) {
  .banner {
    height: 380px;
  }
  .banner h1 {
    font-size: 200%;
  }
}

@media (max-width: 550px) {
  .banner {
    height: 300px;
    padding: 0px;
  }

  .banner h1 {
    font-size: 150%;
  }

  .banner a.btn {
    padding: 10px 15px;
  }
}