---
title: About
group: About
---

<br>
<div class="container">
  <div class="row">
    <div class="col-md-2 hidden-sm"></div>
    <div class="col-md-8 justified">
    <h1>About</h1>
    <h4 class="meta">I'm an aspiring full stack web developer and application developer.</h4><br />
    <p>I'm an application developer from just outside of Atlanta, GA. I spend most of my time programming,
      bettering myself as a developer, and working to finish my bachelor's degree in Computer Science.
      I currently work as a student programmer in my university's administration department.
      My passions are programming, solving problems, and learning new things, and I'm always on the lookout 
      for new projects to spend time working on.</p>
    <p>I am primarily a backend developer, with experience in languages such as Ruby, Python, Java, MySQL, PHP,
      C++, Javascript, and HTML. I am currently working to build my chops in <a href="http://en.wikipedia.org/wiki/User_experience_design">User Experience</a> and front end development. I've built this site to get experience in these aspects of development,
      as well as to create a landing page of sorts for myself. You can see more of the projects I've
      worked on by visiting my <a href="/projects/">Projects</a> page.</p>
    </div>
  </div>
</div>
