---
title: About
group: About
---

<br>
<div class="container">
  <div class="row">
    <div class="col-md-2 hidden-sm"></div>
    <div class="col-md-8 justified">
      <h1>About</h1>
      
      <h4 class="meta">I'm an application developer from Atlanta, GA.</h4><br />
      
      <p>
        My name is Casey Scarborough. I'm a lead software engineer currently working at
        <a href="http://www.nscorp.com/content/nscorp/en.html" alt="Norfolk Southern" target="_blank">Norfolk Southern</a>.
        I finished my bachelor's degree in Computer Science from Clayton State University in 2014, and am attended Georgia Institute of Technology studying for a master's in Computer Science. My passions are programming, solving problems, and learning new things, and I'm always on the lookout for projects to spend time working on.
      </p>
      
      <p>
        I am a full stack developer with experience in multiple languages and frameworks, and using most Angular and Spring Boot on a daily basis. I am currently a lead for a medium-sized development team specializing in mobile app development.
      </p>

      <p>
        This site serves as a landing page for myself, as well as a place for me to showcase
        <a href="https://github.com/caseyscarborough" target="_blank">projects I've worked on</a>.
      </p>
    </div>
  </div>
</div>
