---
title: About
group: About
---

<br>
<div class="container">
  <div class="row">
    <div class="col-md-2 hidden-sm"></div>
    <div class="col-md-8 justified">
      <h1>About</h1>
      
      <h4 class="meta">I'm an application developer from Atlanta, GA.</h4><br />
      
      <p>
        My name is Casey Scarborough. I'm an application developer currently working at
        <a href="http://www.clayton.edu/" alt="Clayton State University">Clayton State University</a>.
        I finished my bachelor's degree in Computer Science from Clayton State University in 2014.
        My passions are programming, solving problems, and learning new things, and I'm always on
        the lookout for projects to spend time working on.
      </p>
      
      <p>
        I am primarily a backend developer, with most of my experience being in Java. My current job
        focuses in web application development using multiple Java technologies such as
        <a href="http://grails.org" alt="Grails Framework">Grails</a> and 
        <a href="http://projects.spring.io/spring-framework/" alt="Spring Framework">Spring</a> frameworks.
      </p>

      <p>
        This site serves as a landing page for myself, as well as a place for me to showcase
        <a href="/projects">projects I've worked on</a>.
      </p>
    </div>
  </div>
</div>
