<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} &middot; caseyscarborough.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">       
        <link rel="icon" href="/favicon.ico?v=2" type="image/png">

        <!-- Compiled Resources -->
        {% css_asset_tag global %}
        - /_assets/css/bootstrap.min.css
        - /_assets/css/main.css.scss
        - /_assets/css/syntax.css.scss
        {% endcss_asset_tag %}        {% javascript_asset_tag global %}
        - /_assets/js/jquery-1.10.2.min.js
        - /_assets/js/bootstrap.min.js
        - /_assets/js/highlight.min.js
        - /_assets/js/main.js
        {% endjavascript_asset_tag %}
        <script>hljs.initHighlightingOnLoad();</script>

    </head>
    <body>

    <div id="wrap">
      <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".cs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CASEY SCARBOROUGH</a>
          </div>
          <nav class="collapse navbar-collapse cs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
            {% if page.group == "Home" %}<li class="active"><a href="/">Home</a></li>
            {% else %}<li><a href="/">Home</a></li>{% endif %}
            {% if page.group == "About" %}<li class="active"><a href="/about/">About</a></li>
            {% else %}<li><a href="/about/">About</a></li>{% endif %}
            {% if page.group == "Projects" %}<li class="active"><a href="/projects/">Projects</a></li>
            {% else %}<li><a href="/projects/">Projects</a></li>{% endif %}
            {% if page.group == "Blog" %}<li class="active"><a href="/blog/">Blog</a></li>
            {% else %}<li><a href="/blog/">Blog</a></li>{% endif %}
            {% if page.group == "Activity" %}<li class="active"><a href="/activity/">Activity</a></li>
            {% else %}<li><a href="/activity/">Activity</a></li>{% endif %}
            </ul>
          </nav>
        </div>
      </header>

<div class="content">
{{ content }}
</div>

    </div><!-- /#wrap -->

    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-sm"></div>
        <div class="col-md-6">
          <div class="footer">
            <p class="pull-left icons">
              <a href="mailto:caseyscarborough@gmail.com"><i class="icon icon-envelope"></i></a>&nbsp;&nbsp;
              <a href="https://github.com/caseyscarborough/"><i class="icon icon-github"></i></a>&nbsp;&nbsp;
              <a href="https://bitbucket.org/caseyscarborough/"><i class="icon icon-bitbucket"></i></a>&nbsp;&nbsp;
              <a href="https://linkedin.com/in/caseyscarborough"><i class="icon icon-linkedin"></i></a>&nbsp;&nbsp;
              <a href="https://plus.google.com/103526747321763836028?rel=author"><i class="icon icon-google-plus"></i></a>
            </p>
            <p class="pull-right">
              <small class="meta">Contribute to this site on <a href="https://github.com/caseyscarborough/caseyscarborough.com">GitHub</a>.</small><br>
            </p>
          </div>
        </div>
      </div>
    </div>

    </body>
</html>
